#style360 {
  background-image: url('../../images/style360.PNG');
}

#npomanager {
  background-image: url('../../images/npomanager.PNG');
}

#pokemon {
  background-image: url('../../images/pokemon.PNG');
}

#design {
  background-image: url('../../images/campbells-poster.jpg');
}

//
// #invision {
//   background-image: url('../../images/memespace.png');
// }

.project-bg-image {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-bg-image, .overlay, .info {
  border-radius: 10px;
}

.main-content{
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pic {
  height: 300px;
  width: 300px;
  position: relative;
  margin: 20px;

}
.pic:hover > .overlay {
  transition: all .3s linear;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background-color:#000;
  opacity:0.75;
  z-index: 100;
  display: block;
  cursor: pointer;
}

.info {
  display: none;
  h3 {
    white-space: nowrap;
  }
}
.pic:hover > .info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  // text-align: center;
  .footnote {
    font-size: 12px;
  }
}
